<div class="card mb-3 col-12 dark-gray-6">
  <div class="row g-0 rounded dark-gray-6">
    <div class="col-md-6 mainCard">
      <%= render(BadgeComponent.new(release_date: @movie[:published_at])) %>
      <%= image_tag @movie[:cover_url] %>
    </div>

    <div class="col-md-6">
      <div class="card-body">
        <h5 class="card-title fw-bold">
          <%= @movie[:title] %>
        </h5>

        <p class="card-text">
          <span class="text-muted">Diretor:</span>
          <%= @movie.director[:name] %>
        </p>

        <p class="card-text">
          <span class="text-muted">Estreia:</span>
          <%= @movie[:published_at].strftime('%d/%m/%Y') %>
        </p>

        <p class="card-text">
          <span class="text-muted">Gênero:</span>
          <%= @movie.movie_genre[:name] %>
        </p>

        <br>

        <p class="card-text">
          <span class="text-muted">Elenco:</span>
          <%= @movie.artists.last(5).map { |artist| artist.name }.join(' - ')%>
          ...
        </p>

        <br>

        <p class="card-text synopsis-reduced">
          <%= @movie[:synopsis]%>
        </p>
      </div>
    </div>
  </div>
</div>
