<tr id="<%= dom_id movie_genre %>">
  <td>
    <%= movie_genre.name %>
  </td>

  <td>
    <%= formatted_date(movie_genre.created_at) %>
  </td>

  <td class="d-flex justify-content-end">
    <%= link_to edit_movie_genre_path(movie_genre) do %>
      <%= image_tag 'icons/editIcon.png' %>
    <% end %>

    <button
      type="button"
      data-bs-toggle="modal"
      data-bs-target="#confirmDelete_<%= dom_id movie_genre %>"
    >
      <%= image_tag 'icons/deleteIcon.png' %>
    </button>

    <%= render(ModalComponent.new(item: movie_genre))%>
  </td>
</tr>
